@import "~bootstrap";
.alert {
    padding: 10px;
    color: #fff;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;
    &.alert-success {
        background-color: green;
    }
    &.alert-error {
        background-color: red;
    }
    &.alert-info {
        background-color: blue;
    }
    &.alert-warning {
        background-color: orange;
    }
}

.form-search-doctor {
    background-color: #F8F8FF;
    border: 1px solid #E6E6FA;
}

.img-doctor {
    width: 150px;
    height: 150px;
}

.text-badge {
    font-size: 0.3 em;
}

#modalSeeRdv {
    height: 100%;
    top: -5px;
}